In [59]:
import pandas as pd
import numpy as np
import pickle
import os
from scipy.sparse import coo_matrix, csc_matrix, csr_matrix

admissions_path = "/Users/andrew/Documents/meng/mimic-iii-clinical-database-1.4/ADMISSIONS.csv.gz"
data_path = "/Users/andrew/Documents/meng/spring/simple-vae/data"

In [60]:
visits_threshold = 1

In [61]:
adm_df = pd.read_csv(admissions_path)
id_counts = adm_df.SUBJECT_ID.value_counts()
x_visits_ids = id_counts.index[id_counts > visits_threshold]

subject_ids = pd.read_csv(os.path.join(data_path, "PATIENT_ICD_SUBJECT_IDS.csv"))
x_visits_ids_df = subject_ids[subject_ids.SUBJECT_ID.isin(x_visits_ids)]
x_visits_ids_df

filename = "PATIENT_ICD_SUBJECT_IDS_GT{}_VISITS.csv".format(visits_threshold)
x_visits_ids_df.to_csv(os.path.join(data_path, filename), index=None)

x_visits_ids_df = pd.read_csv(os.path.join(data_path, filename))
x_visits_ids_df

In [62]:
subject_ids = pd.read_csv(os.path.join(data_path, "PATIENT_ICD_SUBJECT_IDS.csv"))
subject_ids

       SUBJECT_ID
0             109
1             112
2             113
3             114
4             115
...           ...
46515       97164
46516       97484
46517       97488
46518       97492
46519       97497

[46520 rows x 1 columns]

In [63]:
x_visits_ids

Int64Index([13033,   109, 11861,  5060, 20643, 19213,  7809,  5727, 23657,
            11318,
            ...
            26391,  1187, 85986, 26317, 14109, 95427, 21675,  1474,  3523,
            46487],
           dtype='int64', length=7537)

In [87]:
x_visits_ids_df = subject_ids[subject_ids.SUBJECT_ID.isin(x_visits_ids)]
index = x_visits_ids_df.index

x_visits_ids_df.insert(0, "MATRIX_ROW_IDX", index)
x_visits_ids_df

       MATRIX_ROW_IDX  SUBJECT_ID
0                   0         109
1                   1         112
6                   6         117
12                 12         124
18                 18         130
...               ...         ...
46488           46488       95561
46497           46497       95816
46499           46499       96006
46505           46505       96023
46517           46517       97488

[7537 rows x 2 columns]

In [88]:
filename = "PATIENT_ICD_SUBJECT_IDS_GT{}_VISITS.csv".format(visits_threshold)
x_visits_ids_df.to_csv(os.path.join(data_path, filename), index=None)

In [92]:
x_visits_ids_df = pd.read_csv(os.path.join(data_path, filename))
x_visits_ids_df.MATRIX_ROW_IDX.to_numpy().shape

(7537,)

In [ ]:
subject